@model Financial.Models.Entities.CreditCard

@using Financial.Content
@using Financial.Internationalization
@using Financial.Internationalization.Entities.CreditCard

@{
    ViewBag.Title = CreditCardEntityLabels.This_Delete_Title;
}
<section class="col-md-3 col-lg-3">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="@Icons.CreditCard @Icons.LargeIcon ico-padding" aria-hidden="true"></span>
                @Labels.Details
            </h3>
        </div>
        <div class="panel-body">
            <dl>
                <dt>@CreditCardEntityLabels.Nickname</dt>
                <dd>@Model.Nickname</dd>
                <dt>@CreditCardEntityLabels.Network</dt>
                <dd>
                    <img src="~/Content/images/ccnetworks/@Model.Network.ImageName" title="@Model.Network.DisplayName" />
                    <span class="sr-only">@Model.Network.DisplayName</span>
                </dd>
                <dt>@CreditCardEntityLabels.International</dt>
                <dd>
                    @if (Model.International)
                    {
                        <span class="@Icons.Check" aria-hidden="true"></span><span class="sr-only">@Labels.Yes</span>
                    }
                    else
                    {
                        <span class="@Icons.Cancel" aria-hidden="true"></span><span class="sr-only">@Labels.No</span>
                    }
                </dd>
                <dt>@Labels.Actions</dt>
                <dd>
                    <a href="@Url.RouteUrl("EditCreditCard", new { id = Model.Id })" class="btn btn-primary btn-sm" title="@Labels.Edit">
                        <span class="@Icons.Edit" aria-hidden="true"></span>
                        <span class="sr-only">@Labels.Edit</span>
                    </a>
                    <a href="@Url.RouteUrl("DeleteCreditCard", new { id = Model.Id })" class="btn btn-danger btn-sm" title="@Labels.Delete">
                        <span class="@Icons.Delete" aria-hidden="true"></span>
                        <span class="sr-only">@Labels.Delete</span>
                    </a>
                </dd>
            </dl>
        </div>
    </div>
</section>

<section class="col-md-9 col-lg-9">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="@Icons.Invoice @Icons.LargeIcon ico-padding" aria-hidden="true"></span>
                @CreditCardEntityLabels.This_Invoice
            </h3>
        </div>
        <div class="panel-body">
            <div class="col-lg-12 text-center">
                <ul class="pagination pagination-sm">
                    @for (int i = -6; i <= 6; i++)
                    {
                        Financial.Models.InvoiceModel invoice = (Financial.Models.InvoiceModel)ViewData["Invoice"];
                        <li class="text-middle text-center @(i == 0 ? "active" : "")">
                            <a href="@Url.RouteUrl("DetailsInvoiceCreditCard", new { id = Model.Id, month = invoice.Begin.AddMonths(i).Month, year = invoice.Begin.AddMonths(i).Year })">
                                @invoice.Begin.AddMonths(i).ToString("MMM")<br />
                                @invoice.Begin.AddMonths(i).ToString("yyyy")<br />
                            </a>
                        </li>
                    }
                </ul>
            </div>
            @Html.Partial("_InvoiceTable", ViewData["Invoice"])
        </div>
    </div>
</section>

@section CustomCSS{
    <link href="~/Content/css/invoice.css" rel="stylesheet" />
}