@model List<Financial.Models.Entities.Purchase>

@using Financial.Internationalization
@using Financial.Internationalization.Entities.Purchase

@{
    ViewBag.Title = PurchaseEntityLabels.This_Plural;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            <span class="fa fa-shopping-cart fa-lg ico-padding" aria-hidden="true"></span>@PurchaseEntityLabels.This_List_Title
        </h4>
    </div>
    <div class="panel-body">
        <section class="row section-header-btns">
            <div class="col-lg-1">
                <a href="#" class="btn btn-success btn-sm" title="@Labels.New @PurchaseEntityLabels.This">
                    <span class="fa fa-plus ico-padding" aria-hidden="true"></span>@Labels.New
                </a>
            </div>
            <div class="col-lg-11">

            </div>
        </section>

        <section class="row">
            <div class="col-lg-12">
                <table class="table table-responsive table-condensed @(Model.Any() ? "table-hover" : "")">
                    <thead>
                        <tr>
                            <th>@PurchaseEntityLabels.Field_Description</th>
                            <th class="col-lg-1 text-center">
                                <span class="fa fa-calendar-o fa-lg" aria-hidden="true"></span>
                                <span class="sr-only">@PurchaseEntityLabels.Field_PurchasedOn</span>
                            </th>
                            <th class="col-lg-1 text-center">
                                <span class="fa fa-clock-o fa-lg" aria-hidden="true"></span>
                                <span class="sr-only">@PurchaseEntityLabels.Field_InstalmentSplit</span>
                            </th>
                            <th class="col-lg-1 text-center">
                                <span class="fa fa-calendar-check-o fa-lg" aria-hidden="true"></span>
                                <span class="sr-only">@PurchaseEntityLabels.Field_PurchasedOn</span>
                            </th>
                            <th class="col-lg-1 text-center">
                                <span class="fa fa-money fa-lg" aria-hidden="true"></span>
                                <span class="sr-only">@PurchaseEntityLabels.Field_TotalAmount</span>
                            </th>
                            <th class="col-lg-1 text-center">
                                <span class="fa fa-credit-card-alt fa-lg" aria-hidden="true"></span>
                                <span class="sr-only">@PurchaseEntityLabels.Field_CreditCard</span>
                            </th>
                            <th class="col-lg-1 text-center">@Labels.Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>&nbsp;</th>
                            <th class="text-center">@PurchaseEntityLabels.Field_PurchasedOn</th>
                            <th class="text-center">@PurchaseEntityLabels.Field_InstalmentSplit</th>
                            <th class="text-center">@PurchaseEntityLabels.Message_FinalPaymentOn</th>
                            <th class="text-center">@PurchaseEntityLabels.Field_TotalAmount</th>
                            <th class="text-center">@PurchaseEntityLabels.Field_CreditCard</th>
                            <th>&nbsp;</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @if (Model.Any())
                        {

                            foreach (var purchase in Model)
                            {
                                <tr id="@purchase.Id">
                                    <td class="text-middle">@purchase.Description</td>
                                    <td class="text-middle text-center">@string.Format("{0:d}", purchase.PurchasedOn)</td>
                                    @if (purchase.InstalmentSplit == 1)
                                    {
                                        <td class="text-middle text-center">
                                            <em>@PurchaseEntityLabels.Message_PayWithCash</em>
                                        </td>
                                        <td class="text-middle text-center text-muted">@Labels.EmptyColumn</td>
                                    }
                                    else
                                    {
                                        <td class="text-middle text-center">@purchase.InstalmentSplit</td>
                                        <td class="text-middle text-center">@string.Format("{0:y}", purchase.PurchasedOn.AddMonths(purchase.InstalmentSplit))</td>
                                    }
                                    <td class="text-middle text-center">@string.Format("{0:c}", purchase.TotalAmount)</td>
                                    <td class="text-middle text-center">
                                        @if (purchase.CreditCard != null)
                                        {
                                            <a href="#">@purchase.CreditCard.Nickname</a>
                                        }
                                        else
                                        {
                                            <span class="text-muted">@Labels.EmptyColumn</span>
                                        }
                                    </td>
                                    <td>
                                        <div class="text-center text-middle">
                                            <a href="#" class="btn btn-primary btn-sm" title="@Labels.Edit">
                                                <span class="fa fa-pencil" aria-hidden="true"></span>
                                                <span class="sr-only">@Labels.Edit</span>
                                            </a>
                                            <a href="#" class="btn btn-danger btn-sm" title="@Labels.Delete">
                                                <span class="fa fa-trash" aria-hidden="true"></span>
                                                <span class="sr-only">@Labels.Delete</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6" class="text-center"><em>@PurchaseEntityLabels.Message_NoRegisteredYet</em></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>