@using Financial.Content
@using Financial.Internationalization

<li>
    @if (WebSecurity.IsAuthenticated)
    {
        <a href="@Url.RouteUrl("SignOut")" title="@Labels.SignUp">
            <span class="@Icons.SignOut ico-padding" aria-hidden="true"></span>@Labels.SignOut
        </a>
    }
    else
    {
        <a href="@Url.RouteUrl("SignIn")" title="@Labels.SignIn">
            <span class="@Icons.SignIn ico-padding" aria-hidden="true"></span>@Labels.SignIn
        </a>
    }
</li>