@model Financial.Models.UserLoginModel

@using Financial.Content
@using Financial.Internationalization
@using Financial.Internationalization.Entities.User

@{
    ViewBag.Title = Labels.SignIn;
}

@using (Html.BeginRouteForm("SignInPost", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <legend>
            <span class="@Icons.User ico-padding text-default" aria-hidden="true"></span>
            @Labels.SignIn
        </legend>

        @Html.HiddenFor(u => u.ReturnUrl)
        <div class="form-group">
            @Html.LabelFor(u => u.Login, new { @class = "col-lg-1 control-label" })
            <div class="col-lg-3">
                @Html.TextBoxFor(u => u.Login, new { @class = "form-control", placeholder = UserEntityLabels.Login_Placeholder, autofocus = "" })
                @Html.ValidationMessageFor(u => u.Login)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(u => u.Password, new { @class = "col-lg-1 control-label" })
            <div class="col-lg-3">
                @Html.PasswordFor(u => u.Password, new { @class = "form-control", placeholder = UserEntityLabels.Password_Placeholder })
                @Html.ValidationMessageFor(u => u.Password)
            </div>
        </div>

        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-1">
                <p>
                    @Html.ValidationMessage("invalid_login", new { @class = "label label-warning" })
                </p>
                <button type="submit" class="btn btn-default">
                    <span class="@Icons.SignIn ico-padding" aria-hidden="true"></span>
                    @Labels.SignIn
                </button>
            </div>
        </div>
    </fieldset>
}

@section Scripts{
    @Html.Partial("_ValidateScripts")
}