@using Financial.Internationalization

@{
    ViewBag.Title = Labels.Home;
}

<div class="jumbotron">
    <h1>Financial</h1>

    <blockquote>
        <p>&quot;@Labels.Slogan&quot;</p>
        <small><em>@Labels.Slogan_Quote</em></small>
    </blockquote>

    @if (WebSecurity.IsAuthenticated)
    {
        <a href="@Url.RouteUrl("Start")" class="btn btn-default" title="@Labels.Start">
            <span class="fa fa-home ico-padding" aria-hidden="true"></span>
            @Labels.Start
        </a>
    }
    else
    {
        <a href="@Url.RouteUrl("SignUp")" class="btn btn-success" title="@Labels.SignUp">
            <span class="fa fa-users ico-padding" aria-hidden="true"></span>
            @Labels.SignUp
        </a>
        
        @:&nbsp;
        @Labels.Or
        @:&nbsp;

        <a href="@Url.RouteUrl("SignIn")" class="btn btn-primary" title="@Labels.SignIn">
            <span class="fa fa-sign-in ico-padding" aria-hidden="true"></span>
            @Labels.SignIn
        </a>
    }
</div>